@import 'dax';
@import 'bubble';
.sympany {
  @include dax-font;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include dax-font;
  }
  .slides > section,
  .slides > section > section {
    height: 100%;
  }
  .slides .fit {
    display: flex !important;
    flex-direction: column;
    .imagerow {
      position: relative;
      height: 100%;
      figure {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      img {
        width: auto;
      }
    }
  }
  .imagerow {
    display: flex;
    justify-content: center;
    align-items: stretch;
    &.vertical {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
    }
    figure {
      max-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      &:only-child {
        display: block;
      }
      &:before,
      &:after {
        content: '';
        flex: 1;
      }
      figcaption {
        order: 4;
      }
      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ figure {
        width: 50%;
      }
      &:first-child:nth-last-child(3),
      &:first-child:nth-last-child(3) ~ figure {
        width: 33%;
      }
    }
    img {
      width: 100%;
      max-height: none;
    }
  }
  .no-border {
    border: none;
  }
  .no-shadow {
    box-shadow: none;
  }
  .border-radius {
    border-radius: 10px;
  }
  figure.figcaption-horizontal {
    display: flex;
    flex-direction: row;
    & figcaption {
      margin-top: 15px;
    }
  }
  .dark-bg {
    color: white;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: white;
    }
  }
  li.strike-20.visible:not(.current-fragment) {
    display: none;
  }
  span.strike-20 {
    color: red;
    text-decoration: line-through;
    & > span {
      color: black;
    }
    & ~ span.next {
      color: red;
      text-decoration: none;
      font-family: Comic Sans, Comic Sans MS, Bubblegum Sans, cursive;
      font-style: italic;
      display: inline-block;
      transform: rotate(-20deg) translate(-25px, -45px);
    }
  }
  @media print {
    .no-print,
    .slides section.no-print {
      display: none !important;
    }
    .fit .imagerow {
      min-height: 550px;
    }
    .imagerow {
      overflow: hidden;
    }
    .imagerow figure:only-child {
      max-height: 550px;
      min-height: 550px;
      overflow: hidden;
    }
    .no-header .imagerow figure:only-child {
      max-height: 710px;
      min-height: 710px;
    }
  }
}